{# templates/reset_password/passwordSent.html.twig #}
{% extends 'FrontOffice/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Password Reset Email Sent</h1>
        <p>If your email exists in our system, you will receive an email with a password reset link.</p>
    </div>
{% endblock %}