{# templates/BackOffice/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard BackOffice{% endblock %}

{% block body %}
    <h1>Bienvenue dans le BackOffice</h1>
    <p>Ceci est la page d’accueil (dashboard) du BackOffice.</p>
{% endblock %}
