<h3>Welcome {{ user.Name }}!</h3>

<p>Verify your email by clicking this link:</p>

<p><a href="{{ signedUrl }}">Verify Email</a></p>

<p>This link expires in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>